.pokemon {
  position: absolute;
}

.list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  position: relative;
  width: 359px;
  height: 500px;
  perspective: 1000px;
  transition: 2s ease-out;
}

.selectedCard {
  left: 50%;
  transform: translate(-40%, -10%) scale(1.5) rotateY(360deg);
  position: absolute;
  width: 359px;
  height: 500px;
  perspective: 1000px;
  z-index: 9999;
}
